[Desktop Entry]
Name=Tawai
Comment=Music discovery, metadata management, and player
Exec=tawai
Icon=tawai
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Terminal=false
